@media (max-width: 1000px){

.main-utama {
  width: 100%;
}

.main-utama .container-1 {
  width: 100%;
}

.main-utama form {
  width: 100%;
}

.main-tambahan-1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.main-tambahan-1 .container-mt1{
  width: 100%;
}

.main-tambahan-1 .place{
  margin-left: 200px;
}
}

@media (max-width: 670px){

.main-utama {
  width: 100%;
}

.main-utama .container-1 {
  width: 100%;
}

.main-utama form {
  width: 100%;
}

.main-tambahan-1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.main-tambahan-1 .container-mt1{
  width: 100%;
}

.main-tambahan-1 .place{
  margin-left: 100px;
}
