@media (max-width: 1000px) {
    .main-utama {
      width: 100%;
    }

    .main-utama .container-1 {
      width: 100%;
    }

    .main-utama form {
      width: 100%;
    }

    .main-tambahan-1 {
      width: 100%;
      height: auto;
      display: inline-block;
    }

    .main-tambahan-1 .container-mt1{
      width: 100%;
    }
}

@media (max-width: 414px) {
    .header {
        width: 414px;
    }
    
    .ketik {
        width: 414px;
    }
}

@media (max-width: 411px) {
    .header {
        width: 411px;
    }
    
    .ketik {
        width: 411px;
    }
}

@media (max-width: 375px) {
    .header {
        width: 375px;
    }
    
    .ketik {
        width: 375px;
    }
}

@media (max-width: 360px) {
    .header {
        width: 360px;
    }
    
    .ketik {
        width: 350px;
    }
}

@media (max-width: 320px) {
    .header {
        width: 320px;
    }
    
    .ketik {
        width: 320px;
    }
}